    .container { 
        margin-top: 20px;
        margin-bottom: 40px; 
    }

    .modebar{
        display: none !important;
    }

    .div_chart {
        margin-top: 20px;
    }

    .box-forecast {
        background-color: #F8F8FF;
        padding: 20px;
        margin: 5px;
        display: inline-block;
        vertical-align:top;
    }

    .box-value {
        background-color: #F8F8FF;
        padding: 5px 0px 5px 20px;
        margin: 5px;
        width: 50%;

    }


